**/build/
**/dist/
**/target/
**/.idea/
**/.gradle/
**/.nb-gradle/
**/out/
**/.settings/
**/.project
**/*.iml
**/*.dcu
**/*.~pas
**/*.cfg
**/*.dof
**/*.~dpr
**/*.~ddp
**/*.~dfm
**/*.ddp
**/*.res
**/*.exe
**/.classpath
**/nb-configuration.xml